html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poor Story', cursive;

}

p,
h3,
h1{
  text-align: center;
}

h1{

  margin-bottom: 0px;

}

img{

  max-width: 100%;
  max-height: 100%;

}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;

}


ul{

  list-style-type: none;

}

li{

  background-color: #519dcc;
  border: 1px solid black;
  width: 20%;
  height: 20%;
  margin: 2%;
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;

}

#top-menu{

  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

#stars{


  width: 50%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 25%;


}

.starImg{

  width: 20px;
  height: 20px;

}

#attempts{
  margin-top: 20px;
  width: 15%;



}

#time{

  margin-top: 20px;
  width: 25%;

  padding-left: 0;

}

#restartIcon{


  width: 20px;
  height: 20px;
  margin-top: 20px;


}


.container{

  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 20px;
  width: 52%;
  height: 80%;
  background-color: #6c8c94;
  display: flex;
  flex-wrap: wrap;


}


.success{


  display: none;
  width: 60%;
  height: 40%;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  left: 20%;
  top: 20%;

  align-items: center;

}

#winningMessage{


  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;


}

.top{

  width: 8%;
  height: 13%;
  border-radius: 10px;
  position: absolute;


}



.blackbck{


    background-color: black;

}

.redbck{


  background-color:  #d97152;

}


.greenbck{


  background-color: #60e3bc;

}
